<!DOCTYPE html>
<html lang="en" ng-app="BMSapp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="css/modal.css">

<script src="js/lib/angular.js"></script>
<script src="js/lib/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
  	<span>
    	<img style="margin-top: 10px;width: 120px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO_FjJ0T5GMNe8zaWboDKgzxUb3vfyZt4D7ApbpFxv7dAq4b0G" />
  	</span>
  	<span style="float:right">
  	<label style="margin-top: 20px;padding-right:10px;" ng-if="username"> <span style="font-weight: normal;"> Welcome</span> {{username}}  </label>
  		<a style="margin-top: 20px;"  ui-sref="login" ng-if="username">Logout</a>
  	</span>
  </div>
  <ui-view></ui-view>
</div>
	<script src="js/app/app.js"></script>
	<script src="js/app/loginController.js"></script>
	<script src="js/app/registrationController.js"></script>
	<script src="js/app/statementsController.js"></script>
	<script src="js/app/transactionController.js"></script>
	<script src="js/app/modaldirective.js"></script>
	<script src="js/app/appstore.js"></script>
</body>
</html>