<div class="row">
	<div class="form-group">
	    <h4 class="pull-left">Customer Registration</h4>
	    <a  class="pull-right" ui-sref="login">Back to Login</a>
	</div>
</div>
<div class="row">
	<div class="form-group">
	    <ul>
	    	<li ng-repeat="error in errorsList">
	    		<span class="text-danger">{{error}}</span>
	    	</li>
	    </ul>
	</div>
</div>
<div class="row" ng-if="successmsg">
	<div class="alert alert-success">
	  <strong> {{successmsg}}.</strong>
	</div>
</div>
<form name="registerForm" novalidate>
<div class="row">
	<div class="col-sm-4">
		<div class="form-group">
		    <label >Name<span class="text-danger astrick-cls">*</span></label>
		    <input type="text" class="form-control"  ng-model='customer.name' required/>
		</div>
		<div class="form-group">
		    <label >Date Of Birth<span class="text-danger astrick-cls">*</span></label>
		    <div class="input-group" data-provide="datepicker">
			    <input type="text" class="form-control datepicker" ng-model='dateOfBirth'>
			    <div class="input-group-addon">
			        <span class="glyphicon glyphicon-th"></span>
			    </div>
			</div>
		</div>
		<div class="form-group">
			<label>Contact Number<span class="text-danger astrick-cls">*</span></label>
  			<input type='text' class="form-control" ng-model='customer.contactNumber' required/>
		</div>
		<div class="form-group">
			<label>Account type<span class="text-danger astrick-cls">*</span></label>
  			<select  name="account_type" class="form-control" ng-model='customer.accountType' required>
  				<option value='savings'>Savings</option>
  				<option value='salary'>Salary</option>
  			</select>
		</div>
		<div class="form-group">
			<label>Branch Name<span class="text-danger astrick-cls">*</span></label>
  			<input type='text' class="form-control" ng-model='customer.branchName' required/>
  		</div>
    </div>
    <div class="col-sm-4">
    	<div class="form-group">
		    <label >Username<span class="text-danger astrick-cls">*</span></label>
		    <input type="text" class="form-control"  ng-model='customer.username'  required/>
		</div>
		<div class="form-group">
		    <label >Gender<span class="text-danger astrick-cls">*</span></label>
		    <div style="display: flex;margin-top: 10px;">
				<label class="radio-inline"><input type="radio" name="gender" ng-click='customer.gender = "M"' >Male</label>
				<label class="radio-inline"><input type="radio" name="gender" ng-click='customer.gender = "F"' >Female</label>
		    </div>
		</div>
		<div class="form-group">
			<label>Email<span class="text-danger astrick-cls">*</span></label>
  			<input type='email' class="form-control" ng-model='customer.emailId' required/>
		</div>
		<div class="form-group">
			<label>Registration Date<span class="text-danger astrick-cls">*</span></label>
  			<div class="input-group" data-provide="datepicker">
			    <input type="text" class="form-control datepicker" ng-model='registrationDate' placeholder="MM/DD/YYYY" />
			    <div class="input-group-addon">
			        <span class="glyphicon glyphicon-th"></span>
			    </div>
			</div>
		</div>
		<div class="form-group">
			<label>Initial Deposit Amount<span class="text-danger astrick-cls">*</span></label>
  			<input type='text' class="form-control" ng-model='customer.depositAmount' required/>
		</div>
    </div>
    <div class="col-sm-4">
    	<div class="form-group">
		    <label >Password<span class="text-danger astrick-cls">*</span></label>
		    <input type="password" class="form-control"  ng-model='customer.password' required/>
		</div>
		<div class="form-group">
		    <label >Retype Password<span class="text-danger astrick-cls">*</span></label>
		    <input type="password" class="form-control" ng-model='customer.confirmPassword' required/>
		</div>
		<div  class="form-group">
			<label>Citizenship<span class="text-danger astrick-cls">*</span></label>
  		    <input type='text' class="form-control" ng-model='customer.citigenship' required/>
		</div>
		<div class="form-group">
  			<label>Citizen Status<span class="text-danger astrick-cls">*</span></label>
  			<input type='text' class="form-control" ng-model='customer.citizenStatus' required/>
		</div>
		<div class="form-group">
			<label>PAN Number<span class="text-danger astrick-cls">*</span></label>
  			<input type='text' class="form-control" ng-model='customer.panNumber' required/>
		</div>
    </div>
    
</div>
<div class="row">
	<div class="form-group">
	    <h4>Address</h4>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<div class="form-group">
		    <label>Address Line1</label>
		    <input type='text' class="form-control" ng-model='customer.addressLine1'/>
		</div>
		<div class="form-group">
		    <label>State</label>
		    <input type='text' class="form-control" ng-model='customer.state'/>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="form-group">
		    <label>Address Line2</label>
		    <input type='text' class="form-control" ng-model='customer.addressLine1'/>
		</div>
		<div class="form-group">
		    <label>Country</label>
		    <input type='text' class="form-control" ng-model='customer.country'/>
		</div>
	</div>
	
	<div class="col-sm-4">
		<div class="form-group">
		    <label>City</label>
		    <input type='text' class="form-control" ng-model='customer.city' />
		</div>
		<div class="form-group">
		    <label>Pin Number</label>
		    <input type='text' class="form-control" ng-model='customer.pinNumber'/>
		</div>
	</div>
</div>
</form>
<div class="row">
	<button class="btn pull-right" style="margin: 0px 10px;" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary pull-left" style="margin: 0px 10px;" ng-click="registration()" ng-disabled="registerForm.$invalid">Register</button> 
	<button class="btn btn-info pull-left" style="margin: 0px 10px;" ng-click="resetForm()" >Reset</button>
</div>



