<div class="row" style="margin: 15px 7px;">
	<div class="form-group">
	    <h4 class="pull-left">Perform Transaction</h4>
	    <a  class="pull-right" ui-sref="statements">Back to Home</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="form-group">
		    <label >Account Number</label>
		    <input type="text" class="form-control"  ng-model='customer.accountNumber' >
		</div>
		<div class="form-group">
			<label>Transaction Type</label>
  			<select class="form-control" ng-model='customer.transactionType'>
  				<option value='C'>Credit</option>
  				<option value='D'>Debit</option>
  			</select>
		</div>		
    </div>
    <div class="col-sm-4">
    	<div class="form-group">
		    <label >Account Name</label>
		    <input type="text" class="form-control"  ng-model='customer.accountname' >
		</div>
		
		<div class="form-group">
			<label>Amount</label>
  			<input type='number' class="form-control" ng-model='customer.amount'/>
		</div>
		
    </div>
    <div class="col-sm-4">
    	<div class="form-group">
		    <label>Account type</label>
  			<select class="form-control" ng-model='customer.accountType'>
  				<option value='savings'>Savings</option>
  				<option value='salary'>Salary</option>
  			</select>
		</div>
    </div>
</div>

<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
	<button class="btn pull-right" style="margin: 0px 10px;">Cancel</button>
	<button class="btn btn-primary pull-left" style="margin: 0px 10px;" ng-click="saveTransaction()">Submit</button> 
	<button class="btn btn-info pull-left" style="margin: 0px 10px;">Reset</button>
</div>